.add-report-form-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.add-report-form-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
}

.add-report-form-control div {
  text-align: center;
  width: 100%;
  max-width: 300px;
}

.add-report-form-control label {
  display: block;
  font-size: calc(0.6rem + 1vh);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.add-report-form-control input, select {
  font: inherit;
  font-size: calc(0.5rem + 0.5vh);
  padding: calc(0.5rem + 0.5vh);
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}



.add-report-form-control select {
  text-align: center;
  font-size: calc(0.5rem + 0.8vh);
  padding: 10px 40px 10px 40px;
}

.add-report-form-control select:focus, input:focus{
  outline: none;
}

.add-report-form-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  text-align: right;
}

.add-report-form-actions p {
  font-size: calc(0.9rem + 0.5vh);
  font-weight: bold;
  color: #ff0000;
}
