.report-content {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.report-content-footer {
    margin-top: 20px;
}

.report-content section {
    margin-top: 30px;
    display: flex;
    padding: 0 100px;
    justify-content: flex-end;
}

.report-content section button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    width: 35px;
    transition: all 0.3s ease-in-out;
}

.report-content section button:hover {
    cursor: pointer;
    width: 45px;
}

.report-content button img {
    width: 100%;
}

.report-content table {
    border-collapse: collapse;   
    width: 90%;
    table-layout: fixed;
    margin-left: 5%;
    margin-top: 15px;
    font-size: calc(0.4em + 0.5vw);
    box-shadow: 0px 0px 5px 2px rgba(33, 33, 33, 0.2);
}

.report-content thead{
    background-color:rgb(200, 221, 240);    
}

.report-content tbody {
    background-color: aliceblue;
}

.report-content table, td {
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.report-content table, th, td {
    
    padding: 50px 30px 10px 5px;
    text-align: middle;
    vertical-align: bottom;
}



@media  (max-width: 768px) {
    .report-content {
        width: 100%;
    }

    .report-content table {
        width: 96%;
        margin-left: 2%;
    }

    .report-content table, th, td {
        padding: 10px 10px 10px 3px;
    }
}

