.header {
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 250px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.header img {
    margin-top: 8px;
    /* border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 100px;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2); */
}

.menu {
    align-self: stretch;
    margin-left: 10px;
}
