.menu{
    display: flex;
    flex-direction: row;
}

.menu li {
    float: left;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color:inherit;
}
         
@media (max-width: 768px) {
    .btn-grad {
        padding: 10px 15px;
    }
}

 
