.add-report {
  background-color: azure;
  padding: 1.5rem;
  margin: 1rem auto;
  max-width: 90%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}



.add-report button {
  font: inherit;
  cursor: pointer;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0, 0.25);
}


